
<section class="card">
<a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
        <p>{{post_content}}</p>
        <p>{{user.name}}</p>
        <p>{{user_id}}</p>
    </div>
  </a>
<a href="./posts.handlebars/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</section>
