<div> 
<a href="/dashboard/create"><button id="create-post"> Create Post </button></a>

<h2> Your Posts </h2>
{{#if posts.length}}
</div>

{{#each posts as |post|}}


<section class="card">
<a href="/post/{{id}}">
    <header>{{post.title}}</header>

    <div class="card-body">
        <p>{{post.post_content}}</p>
        <p>{{post.user.name}}</p>
    </div>
  </a>
<a href="./comment/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</section>


{{/each}}

{{/if}}